@import "variables";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

h1, h2, h3, h4, h5, h6 {
  @include montserrat;
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

h4, h5, h6 {
  font-weight: 500;
}
