@import "variables";

#downloads {
  h1 {
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }
}

#download-loader {
  margin-top: 50px;

  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

#builds .container {
  padding-top: 30px;
  padding-bottom: 10px;
}

section.filters {
  background-color: tint($sponge_yellow, 70%);
  border-bottom: $sponge_yellow solid 1px;
  border-top: $sponge_yellow solid 1px;
}

.download-category {
  margin: auto;
  text-align: center;
  display: inline-flex;
  align-items: center;

  h3 {
    margin: 0 0.2em 0 0;
  }

  // TODO: Remove build types
  ul {
    list-style-type: none;
    padding: 0;

    line-height: 1.3;

    @include montserrat;
    font-size: 1.3rem;

    .badge {
      font-size: 70%;
      padding-top: 0.3em;
      padding-bottom: 0.3em;

      &.active span {
        border-bottom: 1px solid white;
      }
    }
  }

  .dropdown-menu {
    margin-top: -1px;
    min-width: 0;

    .active {
      font-weight: bold;
    }
  }
}

.versions {
  .btn {
    padding-top: 0;
    padding-bottom: 0;
  }

  > .btn.active.sponge {
    color: black;
    background-color: $sponge_yellow;

    &:hover {
      background-color: tint($sponge_yellow, 50%);
    }
  }
}

#recommended-build {
  font-size: 1.2rem;
  background: tint($sponge_grey, 95%);
}

#no-builds h3 {
  margin-bottom: 30px;
}

.navigation {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  button {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0px;
    }
  }

  .btn-group {
    margin-right: 10px;

    button {
      margin-right: 0px;
    }
  }

  .page-item {
    &.disabled {
      &:not([role="separator"]) {
        > .page-link {
          background-color: tint($secondary, 60%);
        }
      }
      > .page-link {
        background-color: tint($secondary, 20%);
      }
    }

    > a.page-link {
      background-color: $secondary;

      &:hover {
        background-color: shade($secondary, 30%);
      }

      &.router-link-exact-active  {
        background-color: $primary;
      }
    }
  }

  // .newer {
  //   float: left;
  //   margin-left: 30px;
  // }

  // .older {
  //   float: right;
  //   margin-right: 10px;
  // }
}

.alert a.link {
  cursor: pointer;
}

.breadcrumb {

  h2 {
      font-size: 1.5em;
  }

  div.inline {
      display: inline-block;
      padding: 0 5px;

      a {
          color: #999;
          text-decoration: none;

          &:hover {
              text-decoration: underline;
          }
      }
  }
}