// Helper functions
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Sponge brand colors
$sponge_yellow: #f7cf0d;
$sponge_dark_yellow: #917300;
$sponge_grey: #333333;
$sponge_dark_grey: shade($sponge_grey, 15%);
$sponge_light_grey: whitesmoke;
$sponge_lightish_grey: shade($sponge_light_grey, 15%);
$sponge_lighter_grey: tint($sponge_light_grey, 50%);
$sponge_very_light_grey: tint($sponge_grey, 98%);

$spongevanilla_color: #917300;
$spongeforge_color: #910020;
$spongeneo_color: #cc6f2f;
$spongeapi_color: #009172;

// Bootstrap
$font-size-base: 1rem;

$primary:   $sponge_grey;
$secondary: tint($sponge_grey, 50%);

$navbar-dark-hover-color: $sponge_yellow;
$dropdown-link-hover-color: $sponge_grey;
$dropdown-link-hover-bg: $sponge_yellow;
$dropdown-link-active-color: black;
$dropdown-link-active-bg: $sponge_yellow;

$theme-colors: ("forge": $spongeforge_color);

@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$commit-processing-color: $danger;

// Mixins
@mixin montserrat {
  font-family: Montserrat, $font-family-base;
  text-transform: uppercase;
}
