@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "base";
@import "topbar";
@import "header";
@import "downloads";

#sponsor {
  img {
    height: 90px;

    @include media-breakpoint-down(md) {
      height: 50px;
    }
  }

  .additonalText {
    color: $sponge_grey;
  }
}

.center {
  text-align: center;
}
